# Your snippets
#
# General ---------------------------------------------------------
'.source':
  'Comment return':
    'prefix': '#'
    'body': '#=> $1'


# Elixir ----------------------------------------------------------
'.source.elixir':
  'IO puts':
    'prefix': 'ip'
    'body': 'IO.puts "$1"$0'

  'Module':
    'prefix': 'defm' # Add defm as prefix
    'body': 'defmodule $1 do\n\t$2\nend'

  'Function':
    'prefix': 'def'
    'body': 'def ${1:function_name}($2) do\n\t$3\nend'

  'Private function':
    'prefix': 'defp'
    'body': 'defp ${1:function_name}($2) do\n\t$3\nend'

  'Inline function':
    'prefix': 'idef'
    'body': 'def ${1:function_name}($2), do: $3'

  'Inline private function':
    'prefix': 'idefp'
    'body': 'defp ${1:function_name}($2), do: $3'

  'Anonymous function':
    'prefix': 'fn'
    'body': 'fn ($1) -> $2 end$0'

  'Module constant':
    'prefix': 'module'
    'body': '__MODULE__'


# JavasCript ------------------------------------------------------
'.source.js':
  'Function':
    'prefix': 'fun'
    'body': 'function $1 ($2) {\n\t$3\n}'

  'Anonymous function':
    'prefix': 'fn'
    'body': '($1) => {\n\t$2\n}'

# Ruby -------------------------------------------------------------
'.source.ruby':
  'Test':
    'prefix': 'test'
    'body': 'test \'$1\' do\n\t$2\nend'
